/* Groovy Font */
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');

/* Resetting Default Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
}

/* Body Styles */
body {
    font-family: 'Indie Flower', cursive;
    background-color: #FAE3F3;
    color: #333;
    margin: 0;
    padding: 0;
}

/* Header Styles */
header {
    background-color: #FAE3F3; 
    padding: 20px;
    text-align: center;
}

header h1 a,
header h1 {
    font-size: 2.5rem;
    margin-bottom: 10px;
    color: #333;
    text-decoration: none;
}

header h1 a:hover {
    text-decoration: none;
    color: #E9FCE4;
}

/* Main Content Styles */
.container {
    max-width: 1200px;
    background-color: #E9FCE4;
    margin: 0 auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0cap 0 10px rgba(255, 105, 180, 0.5);
}

li {
    margin: 20px;
    text-align: left;
}

/* Pop up styles */
  /* The actual popup (appears on top) */
.popup .popuptext {
    visibility: hidden;
    width: 160px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    position: absolute;
    z-index: 1;
    left: 50%;
    margin-left: -190px;
    margin-top: -80px;
}

  /* Popup arrow */
.popup .popuptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

  /* Toggle this class when clicking on the popup container (hide and show the popup) */
.popup .show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s
}

  /* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
    from {opacity: 0;} 
    to {opacity: 1;}
}

@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity:1 ;}
}  

.refresh-button,
.popup,
button,
.play-button {
    background-color: #FAE3F3; 
    border: none;
    color: #333;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 8px;
    padding: 10px 24px;
    font-family: 'Indie Flower', cursive;
}

.refresh-button a,
button,
.play-button a {
    /* Styles for the link inside the button */
    color: #333;
    text-decoration: none;
}

.refresh-button:hover,
.popup:hover,
button:hover,
.play-button:hover,
.play-button a:hover {
    color: #FAE3F3;
    background-color: #333;
    text-decoration: none;
}

/* Adding style for input box */
input { 
    width: 20px; 
    padding: 5%; 
    font-size: larger; 
    text-align: center; 
    margin-left: 2%; 
} 

#letter-input {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 50px; 
}

#letter-input:hover {
    border-color: #FAE3F3;
    box-shadow: 0 0 5px rgba(255, 105, 180, 0.5);
}

/* Adding style for display word*/
#displayWord { 
    font-size: xx-large; 
}

footer {
    position: static;
    bottom: 0;
    padding: 10px;
}

/* Responsive Design */
@media only screen and (max-width: 768px) {
    header h1 {
        font-size: 2rem;
    }
}

@media only screen and (max-width: 576px) {
    header h1 {
        font-size: 1.5rem;
    }
}
